.flex-end{
  flex: 1 1 0%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
  place-content: stretch flex-end;
  align-items: stretch;
}

ul {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

ul li {
  list-style: none;
}
