<header>
	<mat-toolbar color="primary">
		<button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
		<div class="flex-end">
			<ul>
				<li>
					<button mat-icon-button title="Acesso as configurações">
            <mat-icon>settings</mat-icon>
          </button>
				</li>
				<li>
					<button mat-icon-button title="Saiba mais sobre o projeto..">
            <mat-icon>help_outline</mat-icon>
          </button>
				</li>
				<li>
					<button mat-button>
            <mat-icon>person</mat-icon>
          </button>
					<mat-menu>
						<button mat-menu-item>
              <mat-icon>launch</mat-icon>
              Perfil
            </button>
						<button mat-menu-item>
              <mat-icon>exit_to_app</mat-icon>
              Sair
            </button>
					</mat-menu>
				</li>
			</ul>
		</div>
	</mat-toolbar>
</header>
<mat-divider></mat-divider>
