<mat-nav-list>
	<div class="profile-card">
		<div class="header">
      <mat-icon>swap_horizontal_circle</mat-icon>
			<h2>Controle de Ativos</h2>
			<h4>Admin - email@email.com</h4>
		</div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Páginas</h2>

  <a mat-list-item
    [routerLink]="['/']"
    routerLinkActive="active"
    (click)="closeSideBar()"
    >Inicial</a>
  <a mat-list-item
    [routerLink]="['/ativos']"
    routerLinkActive="active"
    (click)="closeSideBar()"
    >Ativos</a>

  <br />

  <mat-divider></mat-divider>

  <h2 matSubheader>Ferramentas</h2>

  <a mat-list-item
    [routerLink]="['/import']"
    routerLinkActive="active"
    (click)="closeSideBar()"
    >
    <mat-icon>insert_drive_file</mat-icon>
    Importar Ativos
  </a>

</mat-nav-list>
